#-------------------------------------------------------------------------------
# Copyright (C) 2016 Josi Coder
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see <http://www.gnu.org/licenses/>.
#---------------------------------------------------------------------------------

DEFAULT IOSTANDARD = LVCMOS33;

# ========== ct-Lab Standards ==========

# System Clock
NET "SYSCLK" LOC = "P55";
NET "SYSCLK" TNM_NET = "SYSCLK_NET";
TIMESPEC "TS_SYSCLK_NET" = PERIOD "SYSCLK_NET" 50 MHz HIGH 50 %;

# Internal SPI Interface
NET "F_RS" LOC = "P68"; # Address register write
NET "F_DS" LOC = "P69"; # Data register R/W
NET "F_SCK" LOC = "P70"; # SPI clock
#NET "F_INT" LOC = "P74"; # Interrupt of frequency counter
NET "F_MISO" LOC = "P73"; # Data output of SPI interface
NET "F_MOSI" LOC = "P63"; # Data input of SPI interface
NET "F_RS" CLOCK_DEDICATED_ROUTE = FALSE;
NET "F_DS" CLOCK_DEDICATED_ROUTE = FALSE;
NET "F_SCK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "F_SCK" TNM_NET = "F_SCK_NET";
TIMESPEC "TS_F_SCK_NET" = PERIOD "F_SCK_NET" 10 MHz HIGH 50 %;
TIMESPEC "TS_IGNORE_F_SCK_TO_SYSCLK" = FROM "F_SCK_NET" TO "SYSCLK_NET" TIG;
TIMESPEC "TS_IGNORE_SYSCLK_TO_F_SCK" = FROM "SYSCLK_NET" TO "F_SCK_NET" TIG;
 
# Miscellaneous
NET "Test_LED"  LOC = "P44"  ; 

# ========== External SPI ==========

# External SPI Interface
NET "EXT_RS" LOC = "P87"; # Address register write
NET "EXT_DS" LOC = "P90"; # Data register R/W
NET "EXT_SCK" LOC = "P93"; # SPI clock
#NET "EXT_INT" LOC = "Pxx"; # Interrupt of frequency counter
NET "EXT_MISO" LOC = "P96"; # Data output of SPI interface
NET "EXT_MOSI" LOC = "P98"; # Data input of SPI interface
NET "EXT_RS" CLOCK_DEDICATED_ROUTE = FALSE;
NET "EXT_DS" CLOCK_DEDICATED_ROUTE = FALSE;
NET "EXT_SCK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "EXT_SCK" TNM_NET = "EXT_SCK_NET";
TIMESPEC "TS_EXT_SCK_NET" = PERIOD "EXT_SCK_NET" 10 MHz HIGH 50 %;
TIMESPEC "TS_IGNORE_EXT_SCK_TO_SYSCLK" = FROM "EXT_SCK_NET" TO "SYSCLK_NET" TIG;
TIMESPEC "TS_IGNORE_SYSCLK_TO_EXT_SCK" = FROM "SYSCLK_NET" TO "EXT_SCK_NET" TIG;

# ========== DACRAM Board ==========

# SRAM & D/A Converter Shared
NET "RAM_ADDR_DAC_DATA<0>"  LOC = "P10"; # DAC Data: MSB / SRAM Address: LSB
NET "RAM_ADDR_DAC_DATA<1>"  LOC = "P11";
NET "RAM_ADDR_DAC_DATA<2>"  LOC = "P7";
NET "RAM_ADDR_DAC_DATA<3>"  LOC = "P8";
NET "RAM_ADDR_DAC_DATA<4>"  LOC = "P5";
NET "RAM_ADDR_DAC_DATA<5>"  LOC = "P6";
NET "RAM_ADDR_DAC_DATA<6>"  LOC = "P140";
NET "RAM_ADDR_DAC_DATA<7>"  LOC = "P141";
NET "RAM_ADDR_DAC_DATA<8>"  LOC = "P131";
NET "RAM_ADDR_DAC_DATA<9>"  LOC = "P132";
NET "RAM_ADDR_DAC_DATA<10>"  LOC = "P129";
NET "RAM_ADDR_DAC_DATA<11>"  LOC = "P130"; # DAC Data: LSB 12 bit converter AD5447 or AD9752
NET "RAM_ADDR_DAC_DATA<12>"  LOC = "P127";
NET "RAM_ADDR_DAC_DATA<13>"  LOC = "P128"; # DAC Data: LSB 14 bit converter AD9754
NET "RAM_ADDR_DAC_DATA<14>"  LOC = "P124";
NET "RAM_ADDR_DAC_DATA<15>"  LOC = "P125"; # DAC Data: LSB potential 16 bit converter
NET "RAM_ADDR_DAC_DATA<16>"  LOC = "P122";
NET "RAM_ADDR_DAC_DATA<17>"  LOC = "P123";
NET "RAM_ADDR_DAC_DATA<18>"  LOC = "P118"; # SRAM Address: MSB

# SRAM
NET "RAM_WE_N"  LOC = "P108";
NET "RAM_OE_N"  LOC = "P104";
NET "RAM_DATA<0>"  LOC = "P20"; # SRAM Data: LSB
NET "RAM_DATA<1>"  LOC = "P21";
NET "RAM_DATA<2>"  LOC = "P17";
NET "RAM_DATA<3>"  LOC = "P18";
NET "RAM_DATA<4>"  LOC = "P14";
NET "RAM_DATA<5>"  LOC = "P15";
NET "RAM_DATA<6>"  LOC = "P12";
NET "RAM_DATA<7>"  LOC = "P13"; # SRAM Data: MSB

# D/A Converter
NET "DAC_CLK"  LOC = "P103";
NET "DAC_CHANNEL_SELECT"  LOC = "P105";
NET "DAC_WRITE_N"  LOC = "P102";

# ========== Application-Specific ==========

# External Input
NET "EXTERNAL_IN" LOC = "P100" | CLOCK_DEDICATED_ROUTE = FALSE; # FN100
NET "EXTERNAL_IN" TNM_NET = "EXTERNAL_IN_NET";
TIMESPEC "TS_EXTERNAL_IN_NET" = PERIOD "EXTERNAL_IN_NET" 100 MHz HIGH 50 %;
#TIMESPEC "TS_IGNORE_EXTERNAL_IN_TO_SYSCLK" = FROM "EXTERNAL_IN_NET" TO "SYSCLK_NET" TIG;
#TIMESPEC "TS_IGNORE_SYSCLK_TO_EXTERNAL_IN" = FROM "SYSCLK_NET" TO "EXTERNAL_IN_NET" TIG;

# Frequency & Pulse Generators
NET "DDS_SYNC_OUT<0>" LOC = "P99" | SLEW=FAST | DRIVE = 24;
NET "DDS_SYNC_OUT<1>" LOC = "P95" | SLEW=FAST | DRIVE = 24;
NET "DDS_SYNC_OUT<2>" LOC = "P113" | SLEW=FAST | DRIVE = 24;
NET "DDS_SYNC_OUT<3>" LOC = "P112" | SLEW=FAST | DRIVE = 24;
NET "PULSE_OUT" LOC = "P97" | SLEW=FAST | DRIVE = 24;
#NET "RESET" LOC = "P77" | PULLDOWN; # F_AUX
